<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Professor's Book</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/books.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="icon" href="favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Mono:700|Raleway:100"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Modals -->
    <!-- New Book Form -->
    <div class="form-container" id="NewBook">
      <form id="form" action="/admin/upload/book" method="post" enctype="multipart/form-data">
        <button onclick="hideModal('NewBook')"><a href="/admin/profile/books">Back</a></button>
        <h3>Add A Book</h3>
        <h4>Please enter Book name</h4>
        <fieldset>
          <input
            type="text"
            placeholder="Book Name"
            tabindex="1"
            name = "name"
            required
            autofocus
          />
        </fieldset>
        <fieldset>
          <input
            type="text"
            placeholder="Author Name"
            tabindex="1"
            name = "author"
            required
            autofocus
          />
        </fieldset>
        <h4>Please upload Cover Image</h4>
        <fieldset>
          <input type="file" name="cover" tabindex="1" required autofocus />
        </fieldset>
        <h4>Please upload Book</h4>
        <fieldset>
          <input type="file" name="book" tabindex="1" required autofocus />
        </fieldset>
        <button
          name="submit"
          type="submit"
          id="contact-submit"
          data-submit="...Sending"
        >
          Submit
        </button>
      </form>
    </div>
    <!--End of  New Book Form -->
    <!-- Edit Book Form -->
    <div class="form-container" id="EditBook">
      <form id="form" class="editForm" method="post" enctype="multipart/form-data">
        <button onclick="hideModal('EditBook')"><a href="/admin/profile/books">Back</a></button>
        <h3>Book Name</h3>
        <h4>Please enter new Book name</h4>
        <fieldset>
          <input
            type="text"
            placeholder="Book Name"
            tabindex="1"
            name="name"
            required
            autofocus
          />
        </fieldset>
        <fieldset>
          <input
            type="text"
            placeholder="Author Name"
            tabindex="1"
            name = "author"
            required
            autofocus
          />
        </fieldset>
        <fieldset>
          <input type="file" name="cover" tabindex="1" required autofocus />
        </fieldset>
        <h4>Please upload Book</h4>
        <fieldset>
          <input type="file" name="book" tabindex="1" required autofocus />
        </fieldset>
        <button
          name="submit"
          type="submit"
          id="contact-submit"
          data-submit="...Sending"
        >
          Update
        </button>
      </form>
    </div>
    <!-- Edit Book FormEnd of Edit Book Form -->
    <!-- End of Modals -->
    <header class="main-header" id="home">
      <div class="logo"><img src="../public/images/dummy-logo.jpg" alt=""></div>
      <nav class="header-container clearfix">
        <div class="site-name">AstroBooks</div>
        <ul class="main-nav">
          <li><a class="link1" href="/">Home</a></li>
          <li><a class="link2" href="/admin/logout">Logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="main" id="portfolio">
      <section class="books-grid main">
        <button class="add-book" onclick="addbooks()">Add Books</button>
        <div class="books">
        <% books.forEach((book)=>{ %>
          <div class="book">
            <div class="book-img">
              <a href="<%= book.book %>" download>
              <img id="book-cover" src="<%= book.cover %>" />
            </a>
            </div>
            <div class="book-name">
              <h4 class="b-name"><%= book.name %></h4>
            </div>
            <div class="book-name">
              <h4 class="b-name"><%= book.author %></h4>
            </div>
            <div class="buttons">
              <div class="button">
                <button class="edit-book" onclick="editbook(`<%= book._id %>`)">Edit</button>
              </div>
              <div class="button">
                <button class="edit-book" onclick="location.href='/admin/book/delete/<%= book._id %>'">Delete</button>
              </div>
            </div>
          </div>
        <% }) %>
        </div>
      </section>
    </div>
  <script src="/js/modal.js"></script>
  </body>

</html>
